header{
background-color: blue;
padding-bottom: 20px;
border: 10px;
border-color: black;



}

h3{

font-weight: large;
visibility: hidden;
}

a:hover{

    color:red;
}

ul.hobbies{ 

    list-style: none;


}


